version: '3.8'

services:
  ironwall-proxy:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - clamav-server

  clamav-server:
    image: clamav/clamav:latest
    ports:
      - "3310:3310"

  nginx-lb:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - ironwall-proxy
